.main{
    margin: 0px;
}
.app {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282626;
}
.body{
    background-color: #000000;
}
.chatbox {
    width: 100%;
    height: 600px;; /* Increased height for a more spacious feel */
    display: flex;
    flex-direction: column;
    background-color: #0b0b0b;
    border-radius: 8px;
    overflow: hidden;
}

.messages {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.input-form {
    display: flex;
    padding: 15px;
    bottom: auto;
    justify-content: center;
    
    
}

input {
    flex: 1;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 50px;
    margin: 0.5%;
    margin-right: 0.5%;
    max-width: 50%;
}

button {
   background-color: transparent;
   border: none;
}

.message {
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    max-width: 70%;
}

.message.user {
    align-self: flex-start;
    background-color: #f2f2f2;
}

.message.response {
    align-self: flex-end;
    background-color: #007bff;
    color: white;
}
.header{
    background-color: rgb(21, 21, 21);
    color: #fffbfb;
    margin: 0;
    padding: 0%;
}
h1{
    font-family: 'Amita', serif;
    font-weight: 700;
}