.chatbox {
    margin-top: 3.5%;
    margin-bottom: 0%;
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    background-color: #efdfdf;
    border-radius: 8px;
    overflow: hidden;
}



