.header {
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    align-items: center;
    padding: 0 20px;
}

.theme-toggle {
    background: #f4eded;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 5px;
}

h1 {
    font-family: 'Amita', serif;
    background-color: linear-gradient(135deg, #6a5acd, #00bfff); /* Purple to Blue gradient */
    font-weight: 700;
    margin: 0;
    padding: 0;
}
