.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 1rem;
    /* Add padding if needed */
    background-color: #f1f1f1;
    /* Optional background color */
    border: 1px solid #ddd;
    /* Optional border for styling */
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo img {
    width: 30px;
    margin-right: 10px;
}

.header__profile {
    display: flex;
    align-items: center;
}

.profile__icon {
    background-color: #4caf50;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
}