.content-wrapper {
  display: flex;
  height: calc(100vh - 60px); /* Adjust based on your header height */
}

.app {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  padding-bottom: 70px; /* Adjust based on the height of your input form */
}

.drawer {
  width: 300px;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow-y: auto;
}

.drawer-content {
  padding: 20px;
}

/* Adjust the input form container if needed */
.input-form-container {
  left: 300px; /* Same as drawer width */
  right: 20px;
}
