.input-form-container {
    position: fixed;
    bottom: 0;
    left: 300px; /* Same as drawer width */
    right: 0;
    padding: 10px;
    
}

.uploaded-file-display {

    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-form {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.file-upload-button {
    margin-right: 10px;
    color: #000000;
}

.file-upload-button label {
    cursor: pointer;
    display: flex;
    /* Center the icon */
    align-items: center;
    color: #000000;
    /* Center the icon vertically */
}

.submit-button {
    border: none;

    /* Button color (blue) */
    border-radius: 50%;
    /* Circular button */
    padding: 5px;
    /* Adjust size if needed */
    cursor: pointer;
    display: flex;
    /* Center the icon */
    align-items: center;
    /* Center the icon vertically */
}

.submit-button:disabled {
    background-color: #332c2c;
    /* Grey out disabled button */
    cursor: not-allowed;
    /* Change cursor for disabled state */
}

.submit-button svg {
    color: rgb(10, 10, 10);
    /* Ensure icon color is visible */
}


button {
    background-color: transparent;
    border: none;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.input-field {
    flex-grow: 1;
    border: none;
    padding: 10px;
    font-size: 16px;
    outline: none;
}

.send-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}