.chat-area {
  flex-grow: 50;
  display: flex;
  height: 2800%;
  justify-content: center;
  align-items: center;
  background-color: #040404;
  }
  .Title {
    font-family: "Amita", serif;
    font-weight: 700;
    font-style: normal;
    
  }
  
  
  