.message-input {
  position: absolute;
  justify-content: center;
  bottom: 10px;
  left: 0;
  right: 0;
  display: flex;
  padding: 1rem;
  background-color: #1a1a1a;
  }
  
  .message-input input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 50px;
    margin-right: 10px;
    max-width: 70%;
    
  }
  
  .send-button {
    background-color: transparent;
    border: none;
  }
  
  .send-button img {
    width: 30px;
  }
  